 .input-boxes {
     margin-top      : 1rem;
     background-color: inherit;
     border          : none;
     outline         : none;
     font-size       : medium;
     padding         : 1rem 0.5rem;
     width           : 30rem;
     color           : white;
     border-bottom   : 2px solid red;
 }

 .actions {
     display        : flex;
     justify-content: space-around;
     column-gap     : 2rem;
     margin-bottom  : 4rem;

     button {
         background-color: rgb(11, 11, 250);
         padding         : 1rem;
         border          : none;
         outline         : none;
         color           : white;
         font-size       : large;
         border-radius   : 2rem;
         width           : 25%;

         &:hover {
             background-color: rgb(9, 9, 165);
             cursor          : pointer;
         }

         &:last-child {
             background-color: rgb(30, 184, 30);
             display         : flex;
             align-items     : center;
             justify-content : center;
             width           : 20%;
             text-decoration : none;
             column-gap      : 2rem;

             &:hover {
                 background-color: rgb(4, 97, 4);
                 font-size       : medium;
             }

             &:hover::after {
                 font-family: "Font Awesome 5 free";
                 font-weight: 900;
                 font-size  : 1.2rem;
                 content    : "\f019";
             }
         }
     }
 }




 i {
     display        : flex;
     justify-content: space-around;
     font-style     : normal;
     font-size      : 1.3rem;
     margin-top     : 0.6rem;

     &::after {
         content    : "\f013";
         font-family: "Font Awesome 5 Free";
         font-weight: 900;
         color      : white;
     }

     &:hover {
         cursor: pointer;
     }
 }

 .actions-on-text {
     width          : 60rem;
     display        : grid;
     justify-content: center;
     margin-top     : 0.6rem;


     .textSize {
         width: 150%;

         &:hover {
             cursor: pointer;
         }
     }
 }