@mixin navResponsive1 {
    @media (min-width:447px) and (max-width:620px) {
        @content;
    }
}

@mixin navResponsive2 {
    @media (max-width:447px) {
        @content;
    }
}

nav {
    background-color: rgb(179, 6, 35);
    height          : 5rem;
    color           : white;
    display         : flex;
    justify-content : left;
    column-gap      : 30%;
    align-items     : center;
    font-size       : 2rem;

    @include navResponsive1 {
        column-gap: 20%;
    }

    @include navResponsive2 {
        column-gap: 10%;
        font-size : 1.5rem;
    }

    img {
        height: 5rem;
        width : 10%;

        @include navResponsive1 {
            width: 13%;
        }

        @include navResponsive2 {
            width: 20%;
        }
    }

}