#welcome-page {
    text-align: center;

    h2 {
        color: white;
    }

    button {
        background-color: rgb(179, 6, 35);
        padding         : 1rem;
        border          : none;
        outline         : none;
        color           : white;
        font-size       : large;
        border-radius   : 2rem;
        width           : 15%;

        &:hover {
            background-color: rgb(211, 45, 73);
            cursor          : pointer;
        }

        &:hover::after {
            content     : "🥳";
            font-size   : 1.2rem;
            padding-left: 1rem;
        }
    }

}

.inputBoxes {
    display       : flex;
    flex-direction: column;
    margin-left   : 20%;
}