.MemeContainer {

    display        : flex;
    justify-content: space-around;
    height         : 45rem;
    width          : 100%;
    align-items    : center;

    &__Meme {
        position           : relative;
        background-position: center center;
        background-repeat  : no-repeat;
        background-size    : 100% 100%;
        word-wrap          : break-word;
        overflow-wrap      : break-word;
        text-align         : center;
        height             : 100%;
        width              : 45rem;

        h2 {
            font-size : 1.6rem;
            text-align: center;
            width     : 100%;
            color     : black;
            position  : absolute;

            &:first-child {
                top: 0px;
            }

            &:last-child {
                bottom: 15px;
            }
        }

    }

    &__ColorPicker {
        height: 30rem;
    }

}